p {
  margin:0
}

.topMenuBar {
  backdrop-filter: blur(3px); /* Adjust the blur strength as needed */
  background-color: rgba(255, 255, 255, 0.5); /* White with slight transparency */
  font-family: 'Sans-serif', sans-serif; /* Use a sans-serif font */
  font-weight: bold; /* Bold text */
  padding: 10px; /* Adjust padding as needed */
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Center items vertically */
  position: fixed; /* Fixed position so it stays at the top */
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Ensure it's above other elements */
}

.background {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.logo {
  max-height: 40px; /* Adjust the max height of the logo as needed */
  margin-right: 10px; /* Add some spacing to the right of the logo */
}

.flag {
  padding: 5px;
  height: 20px;
  width: 35px;
  border-radius: 8px;
}

.topMenuBar a {
  text-decoration: none;
  color: #012147;
  margin-right: 20px;
  cursor: pointer;
}

.rDivider {
  margin-left: auto;
}

.scheduler {
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.7);
  margin-top: 175px;
  margin-left: 100px;
  height: 350px;
  width: 275px;
  position: absolute;
  font-family: 'Sans-serif', sans-serif;
  font-weight: bold;
  border-radius: 10px;
}

.scheduler h1 {
  padding: 10px;
  font-family:'Varela Round';
  font-size: medium;
}

.scheduler p {
  padding: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 100;
}

.scheduler img {
  max-height: 30px;
  margin-left: -15px;
}

#titleBar {
  height: 50px;
  width: 100%;
  background-color: rgba(135, 206, 235, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.datePicker {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.datePicker input {
  width: 70%;
  padding: 3px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.datePicker img {
  position: absolute;
  right: 15%;
  padding-bottom: 5px;
  cursor: pointer;
}

.schedulerBtnWrapper {
  margin-top: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.schedulerBtn {
  width: 70%;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  border: none;
  background-color: #87CEEB;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.schedulerBtn:hover {
  background-color: #00709c; /* Lighter shade of sky blue on hover */
}

.slider {
  appearance: none;
  -webkit-appearance: none;
  width: 30px;
  height: 10px;
  background:white;
  border-radius: 10px;
  outline: none;
  opacity: 0.7;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  background: #2196F3;
  border-radius: 50%;
  cursor: pointer;
}

.slider::-webkit-slider-thumb:hover {
  background: #0d47a1;
}

.customCalendarContainer {
  position: absolute;
  width: 250px;
  bottom: 20px;
  left: 13px;
}

.placeholderText {
  font-size: 700%;
  position: absolute;
  top: 0%;
  left: 30%;
  color: black;
}